<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='js/jQuery.js') }}" ></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>청소분담제 역할배정(β)</title>
</head>
<body>
    <!-- 결과 페이지 -->
    <div id="result" class="page_div" style="opacity: 0;">
        <div id="header" class="header">
            <h1>㏊ 결과를 확인하세요</h1>
        </div>
        <div id="main" class="main">
            <div id="result_div">
                <h2>결과</h2>
                <table id="result_table"></table>
            </div>
        </div>
        <div id="footer" class="footer">
            <div id="buttons_div" class="buttons_div">
                <button class="action_button _full" onclick="changePage()">다시하기</button>
                <!-- <button class="action_button _right" >공유</button> -->
            </div>
        </div>
    </div>
    <!-- 메인 페이지 -->
    <div id="home" class="page_div">
        <div id="header" class="header">
            <h1>⊆ 이름과 역할을 설정하세요</h1>
        </div>
        <div id="main" class="main">
            <div id="name_div">
                <h3>이름</h3>
                <form onsubmit="return false;" class="add_form">
                    <input class="add_input" onkeypress="if(window.event.keyCode == 13){ add_name() }">
                </form>
                <button class="add_button" id="add" onclick="add_name()">+</button>
                <div id="elements_list" class="elements_list"></div>
            </div>
            <div id="role_div">
                <h3>역할</h3>
                <form onsubmit="return false;" class="add_form">
                    <input class="add_input" onkeypress="if(window.event.keyCode == 13){ add_role() }">
                </form>
                <button class="add_button" id="add" onclick="add_role()">+</button>
                <div id="elements_list" class="elements_list"></div>
            </div>
        </div>
        <div id="footer" class="footer">
            <div id="buttons_div" class="buttons_div">
                <button class="action_button _left" onclick="resetAll()">㎱ 초기화</button><button class="action_button _right" onclick="changePage()">다음</button>
            </div>
        </div>
    </div>
    <input id="names" value="{{ names }}" hidden>
    <input id="roles" value="{{ roles }}" hidden>
    <script src="{{ url_for('static', filename='js/index.js') }}" ></script>
</body>
</html>
